---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>blog - o8n.site</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <h1>Blog</h1>
    <a href="https://o8n.hatenablog.com/" target="_blank">https://o8n.hatenablog.com/</a>
	</body>
</html>
