---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
import BlogPost from '../components/BlogPost.astro';
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {allPosts.map((post) => (
      !post.frontmatter.draft && (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      )
    ))}
  </ul>
  also see: <a href="https://o8n.hatenablog.com">here</a>
</BaseLayout>
