---
const { platform } = Astro.props;
---
<a href={`https://www.linkedin.com/in/masahiro-okamoto-5218b9166/`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>